/*.browse__item {
    opacity: 0;
}*/


.browse__item__animation.ng-enter-stagger, .browse__item__animation.ng-leave-stagger,
.browse__item__animation.ng-move-stagger {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transition-duration: 0;
    transition-duration: 0;
}

.browse__item__animation {
    -webkit-transition: 0.35s linear all;
    transition: 0.35s linear all;
}

    .browse__item__animation.ng-enter {
        opacity: 0;
    }

    .browse__item__animation.ng-leave {
        opacity: 0;
    }

    .browse__item__animation.ng-enter-active {
        opacity: 1;
    }
