<div class="media details__title">
    <a class="pull-left" ui-sref="master.user({name:data.item.User.Name})">
        <img ng-src="{{data.item.User.AvatarUrl}}" class="media-object user-avatar user-avatar--lg img-circle" />
    </a>
    <div class="media-body">
        <h3 class="media-heading">{{data.item.Name}}</h3>
        <a ui-sref="master.user({name:data.item.User.Name})">{{data.item.User.Name}}</a>
    </div>
</div>
<div class="row">
    <div class="col-md-7 preview-window panel panel-default item--{{data.item.Type.Name | lowercase}}">
        <span ng-show="data.isLoading">Loading, please wait.</span>
        <iframe sandbox="allow-same-origin allow-scripts" ng-src="{{data.item.PlnkrUrl}}" frameborder="0" onload="finishedLoadingPlunker()" ng-hide="data.isLoading"></iframe>
    </div>
    <div class="col-md-4 col-md-offset-1">
        <div class="row">
            <div class="col-md-4">
                Type
            </div>
            <div class="col-md-8">
                {{data.item.Type.Name}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                Github
            </div>
            <div class="col-md-8">
                <a class="pull-left" ng-href="{{data.item.User.HomePageUrl}}">{{data.item.User.Name}}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Plunker
            </div>
            <div class="col-md-8">
                <a ng-href="{{Configuration.plnkrEditUrl}}{{data.item.PlnkrId}}{{Configuration.plnkrPreviewSuffix}}">I said plunker!</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <dir-disqus disqus-shortname="ngshowcase"
                    disqus-identifier="{{ url }}"
                    disqus-url="{{ url }}"
                    disqus_title="{{ data.item.Name }}">
        </dir-disqus>
    </div>
</div>
