<!--<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" ng-click="navigateHome()">ngShowcase</span>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="itemType in data.itemTypes" ng-click="filterByType(itemType.Name)"><a href="">{{itemType.Name}}</a></li>
            </ul>
            <div class="col-md-4 navbar-left">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="searchTerm">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="search()">Go!</button>
                        </div>
                    </div>

                </form>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="Auth.isAuthenticated()"><a href="" ng-click="Auth.login()"><i class="fa fa-github fa-lg"></i> Sign In</a></li>
                <li class="dropdown" ng-show="Auth.isAuthenticated()">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{Auth.user.Name}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="">My Showcase</a></li>
                        <li class="divider"></li>
                        <li ng-click="Auth.logout()"><a href="">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>-->


<div class="master">
    <div class="row master__filler clear--margins">
        <div class="master__wrapper">
            <div class="col-md-2 hidden-xs side__menu">
                <!--<ul>
                    <li><a href="#!/browse?type=control">Controls</a></li>
                    <li><a href="#!/browse?type=behavior">Behaviors</a></li>
                    <li><a href="#!/browse?type=module">Modules</a></li>
                </ul>-->
                <div class="row logo__container">
                    <div class="col-md-6 col-md-offset-3">
                        <a ui-sref="master.browse"><div class="logo"></div></a>
                    </div>
                </div>

                <div class="menu__container">
                    <div ng-hide="Auth.isAuthenticated()"><a href="" ng-click="Auth.login()"><i class="fa fa-github fa-lg"></i> Sign In</a></div>
                    <div class="dropdown" ng-show="Auth.isAuthenticated()" ng-click="Auth.logout()">
                        <a href="">Sign Out</a>
                    </div>
                </div>
                <div class="menu__container filters__container" ng-if="$state.is('master.browse')">
                    <div class="row">
                        <div class="col-md-11 col-md-offset-1">
                            <label><input type="checkbox" ng-model="data.filters.control" />Controls</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-11 col-md-offset-1">
                            <label><input type="checkbox" ng-model="data.filters.behavior" />Behaviors</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11 col-md-offset-1">
                            <label><input type="checkbox" ng-model="data.filters.module" />Modules</label>
                        </div>
                    </div>
                </div>
                <div class="menu__container" ng-if="!$state.is('master.browse')">
                    <a ui-sref="master.browse"><h1><i class="fa fa-arrow-left"></i> Browse</h1></a>
                </div>
            </div>
            <div class="col-md-9 col-md-offset-1 content">
                <ui-view></ui-view>
            </div>
        </div>
    </div>
</div>