.preview-window {
    height: 450px;
    padding: 20px;
}

    .preview-window iframe {
        width: 100%;
        height: 100%;
    }


.user-avatar {
    height: auto;
}

.user-avatar--sm {
    width: 40px;
}

.user-avatar--lg {
    width: 64px;
}

.details__title {
    margin-bottom: 20px;
}
