<div class="row">
    <div class="col-md-4">

        <div class="row items-panel--half">
            <div class="col-md-12">
                <div class="items-panel__header">
                    Behaviors
                </div>
                <table class="table table-hover">
                    <tr ng-repeat="behavior in data.behaviors | limitTo:'5'">
                        <td class="table__item--main">
                            {{behavior.Name}}
                        </td>
                        <td class="table__item--secondary" align="center">
                            <i class="fa fa-eye fa-fw"></i> {{behavior.Viewed}}
                        </td>
                        <td class="table__item--secondary" align="center">
                            <i class="fa fa-heart fa-fw"></i> {{behavior.Liked}}
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="items-panel__header">
                    Modules
                </div>
                <table class="table table-hover">
                    <tr ng-repeat="module in data.modules | limitTo:'5'">
                        <td class="table__item--main">
                            {{module.Name}}
                        </td>
                        <td class="table__item--secondary" align="center">
                            <i class="fa fa-eye fa-fw"></i> {{module.Viewed}}
                        </td>
                        <td class="table__item--secondary" align="center">
                            <i class="fa fa-heart fa-fw"></i> {{module.Liked}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="items-panel__header">
            Controls
        </div>
        <div class="row">

            <div class="col-md-4 browse__item browse__item__animation" ng-repeat="control in data.controls">
                <a ui-sref="master.details({id:control.Id})">
                    <div class="thumbnail item--{{control.Type.Name | lowercase}}">
                        <img src="http://placehold.it/500x300" alt="">
                        <div class="caption">
                            <h4>{{control.Name}}</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>